body {
    font-family: sans-serif;
    text-align: cneter;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
  color: gold;
  font-size: 45px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.gallery figure {
  
  max-width: 300px;
  text-align: center;
  margin: 0;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

figcaption {
  font-weight: bold;
  margin-top: 8px;
}


@media (max-width: 600px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 90%;
        max-width: 300px;
    }
    body {
        padding: 10px;
    }
  
   @media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
}







}
    